@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Alkalami&family=Noto+Sans:wght@200&display=swap');

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    overflow-x: hidden;
    text-decoration: none;
    transition: .2s linear;
    font-family: 'Noto Sans', sans-serif;
}

html::-webkit-scrollbar {
    width: .2rem;
}

html::-webkit-scrollbar-track {
    background: #343639;
}

html::-webkit-scrollbar-thumb {
    background: #24bc97;
    border-radius: 5rem;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: #24bc97;
    cursor: pointer;
}

.btn:hover {
    color: #fff;
    letter-spacing: .2rem;
}

.header {
    display: flex;
    justify-content: space-around;
    justify-items: flex-start;
    background-color: #21272f;
    padding: 1.5rem 7%;
    font-size: 1.4rem;
}

.header h1 {
    font-size: 2.5rem;
    color: #fff;
}

.header .navbar a {
    margin: 0 1rem;
    color: #fff;
}

.header .navbar a:hover {
    color: #24bc97;
    border-bottom: .1rem solid #24bc97;
    padding-bottom: .5rem;
}

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: #21272f;

}

.home .content .bio {
    padding-left: 2rem;
    padding-bottom: 20px;
}

.home .content .bio h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #fff;
}

.home .content .bio h3 {
    font-size: 3rem;
    text-transform: uppercase;
    color: #fff;
}

.home .content .bio h3 {
    font-size: 3rem;
    text-transform: uppercase;
    color: #fff;
}

.home .content .bio h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: #24bc97;
}

.home .content .bio p {
    font-size: 1.4rem;
    font-weight: lighter;
    line-height: 1.5;
    padding: 2.5rem 0;
    color: #fff;
}

.home .content .bio .icons div {
    color: #24bc97;
    cursor: pointer;
    font-size: 3rem;
    padding-right: .3rem;
}

.home .content .bio .icons .check {
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.home .pic {
    min-width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 2rem;
    padding-left: 2rem;
}

.products {
    background-color: #171c23;
    padding-bottom: 40px;
}

.products h3 {
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.products .heading {
    color: #24bc97;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.products .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 1.5rem;
    padding-left: 50px;
    padding-right: 50px;
}

.products .box-container .box {
    text-align: center;
    border: 2px solid #343639;
    padding: 0 3rem 1rem 3rem;
    /* height: 60vh; */
}

.products .box-container .box .icons {
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    margin: .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products .box-container .box .icons img {
    width: 200px;
}

.products .box-container .box .topic {
    padding: 1rem 0;
    color: #fff;
    font-size: 40px;
}

.products .box-container .box .content h3 {
    color: #fff;
    font-size: 1.3rem;
}

.products .box-container .box .content .stars {
    font-size: 1.4rem;
}

.products .box-container .box .content .stars i {
    font-size: 1.3rem;
    color: #24bc97;
}

.review {
    background-color: #21272f;
    padding-bottom: 40px;
}

.review h3 {
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.review .heading {
    color: #24bc97;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.review .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;
    padding-left: 50px;
    padding-right: 50px;
}

.review .box-container .box {
    display: grid;
    place-items: center;
    border: 2px solid #343639;
    padding: 1rem 3rem 1rem 3rem;
}

.review .box-container .box p {
    font-size: 1.5rem;
    color: #fff;
    line-height: 1.3;
    padding: 2rem 0;
    text-align: center;
}

.review .box-container .box h3 {
    padding: .5rem 0;
    font-size: 2rem;
    color: #fff;
}

.review .box-container .box .stars {
    font-size: 1.4rem;
}

.review .box-container .box .stars i {
    font-size: 1.3rem;
    color: #24bc97;
}



.projects {
    place-items: center;
    display: grid;
    grid-gap: 1rem;
    padding: 40px 1rem;
    margin: 0 auto;
    font-family: var(--font-sans);
    background-color: #171c23;
}

.card {
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
    text-align: center;
    color: white;
    background-color: whitesmoke;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

.description {
    background-color: #171c23;
}

.description .heading {
    color: #24bc97;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.load {
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    background-color: #171c23;

}

.load:hover {
    color: #24bc97;
    font-size: 2rem;
}

@media (min-width: 600px) {
    .card {
        height: 40vh;
    }
}

.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 0 0;
    transition: .2s;
    pointer-events: none;
}

.card:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
    transition: .2s;
}

.card:nth-child(1):before {
    background-image: url(Capture\ 9.PNG);
}

.card:nth-child(2):before {
    background-image: url(Capture\ 2.PNG);
}

.card:nth-child(3):before {
    background-image: url(Capture\ 4.PNG);
}

.card:nth-child(4):before {
    background-image: url(Capture\ 6.PNG);
}

.card:nth-child(5):before {
    background-image: url(Capture\ 1.PNG);
}

.card:nth-child(6):before {
    background-image: url(Capture\ 3.PNG);
}

.card:nth-child(7):before {
    background-image: url(Capture\ 5.PNG);
}

.card:nth-child(8):before {
    background-image: url(Capture\ 7.PNG);
}

.card:nth-child(9):before {
    background-image: url(Capture\ 8.PNG);
}

.card:nth-child(10):before {
    background-image: url(Capture\ 9.PNG);
}

.card:nth-child(11):before {
    background-image: url(Capture\ 10.PNG);
}

.card:nth-child(12):before {
    background-image: url(Capture\ 11.PNG);
}

.card:nth-child(13):before {
    background-image: url(Capture\ 12.PNG);
}

.content-1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    transition: transform var(--d) var(--e);
    z-index: 1;
}

.content-1>*+* {
    margin-top: 1rem;
}

.copy {
    font-family: var(--font-serif);
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.35;
}

.button {
    cursor: pointer;
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: white;
    background-color: #24bc97;
    border: none;
}

.button:hover {
    color: #24bc97;
    background: #fff;
}

.button:focus {
    outline: 1px dashed yellow;
    outline-offset: 3px;
}

.contact {
    position: relative;
    padding: 20px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #21272f;
}

.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact .content h3 {
    color: #fff;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.contact .content .heading {
    color: #24bc97;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactinfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactinfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactinfo .box .icon {
    border-radius: 30px;
    min-width: 60px;
    height: 60px;
    background: #24bc97;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .contactinfo .box .icon i {
    font-size: 1.9rem;
}

.container .contactinfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.container .contactinfo .box .text h3 {
    font-weight: 2.5rem;
    color: #24bc97;
}

.contactform {
    border-radius: 25px;
    border: 2px solid #24bc97;
    width: 40%;
    padding: 40px;
    background: #fff;
}

.contactform h2 {
    font-size: 30px;
    color: #24bc97;
    font-weight: 500;
}

.contactform .inputbox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactform .inputbox input,
.contactform .inputbox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #24bc97;
    outline: none;
    resize: none;
}

.contactform .inputbox span {
    position: absolute;
    left: 0%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #24bc97;
}

.contactform .inputbox input:focus~span,
.contactform .inputbox input:valid~span,
.contactform .inputbox textarea:focus~span,
.contactform .inputbox textarea:valid~span {
    color: #171c23;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactform .inputbox input[type="submit"] {
    width: 100px;
    background: #24bc97;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media (max-width:776px) {
    .home {
        flex-wrap: wrap-reverse;
        padding: 0%;
    }

    .header h1 {
        display: none;
    }

    .header .navbar {
        display: flex;
        justify-content: space-between;
    }

    .header .navbar a {
        margin: 0 .5rem;
        font-size: 15px;
    }

    .home .content {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home .content .bio {
        /* text-align: center; */
        padding-left: 2px;
        padding-right: 2px;
    }

    .products .box-container {
        padding-left: 2%;
        padding-right: 2%;
    }

    .review .box-container {
        padding-left: 2%;
        padding-right: 2%;
    }

    .projects .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        gap: 1.5rem;
        padding-left: 2%;
        padding-right: 2%;
    }

    .projects .all a {
        /* width: fit-content; */
        color: #fff;
        padding-top: 20px;
        font-size: 2rem;
        display: grid;
        place-items: center;
    }

    .home .pic {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .contact {
        padding: 50px;
    }

    .container {
        flex-direction: column;
    }

    .container .contactinfo {
        margin-bottom: 40px;
    }

    .container .contactinfo,
    .contactform {
        width: 100%;
    }
}

@media (hover: hover) and (min-width: 600px) {
    .card:after {
        transform: translateY(0);
    }

    .content-1 {
        transform: translateY(calc(100% - 4.5rem));
    }

    .content-1>*:not(.title-1) {
        opacity: 0;
        transform: translateY(1rem);
        transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    }

    .card:hover,
    .card:focus-within {
        align-items: center;
    }

    .card:hover:before,
    .card:focus-within:before {
        transform: translateY(-4%);
    }

    .card:hover:after,
    .card:focus-within:after {
        transform: translateY(-50%);
    }

    .card:hover .content-1,
    .card:focus-within .content-1 {
        transform: translateY(0);
    }

    .card:hover .content-1>*:not(.title-1),
    .card:focus-within .content-1>*:not(.title-1) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(var(--d) / 8);
    }

    .card:focus-within:before,
    .card:focus-within:after,
    .card:focus-within .content-1,
    .card:focus-within .content-1>*:not(.title-1) {
        transition-duration: 0s;
    }
}

@media (min-width: 600px) {
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 800px) {
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
}
